---
sidebar_position: 1
title: Verification
---
###### Module for handling verification related data
***
The Verification module offers the ability to give and take roles on join and verify, allowing for the creation of Verification Security Walls.

Verification can be done through either the **/verify command**, (Which can be used in your discord server) or by using a **verification embed** or DM.
:::info
Verification Embeds can be sent to any channel by accessing the verification module’s settings in the **dashboard** (**[https://monni.fyi/dashboard/](https://monni.fyi/dashboard/)**) and are visible to everyone.
:::
:::note
You can also change the nickname of a member on verify, in the Verification Module’s Settings. This has support for [**simpukka**](https://monni-docs-f7dj.onrender.com/simpukka/)
:::
***
### Using Verification
---
There are a few things you’ll need to configure before Verification is working in your server.
1. **VERIFICATION SERVICE**  
Enables Verification
2. **VERIFIED ROLE**  
This is the role a member will get when he verifies.
3. **UNVERIFIED ROLE**  
This is the role a member will get when he joins your server, and has not yet verified.

:::info
Once a member verifies, the unverified role will be removed from them.
:::

### Optional Settings
---
We offer a few quality of life settings you can use to improve the verification experience for you and your members. These include:

1. **VERIFICATION MESSAGE**  
Sends a verification message to new members who join your server.
2. **DISCORD ACCOUNT SELECTION**  
This allows members to automatically verify with previously verified accounts.  
(*Keep in mind this is less secure from automated raids.*)
3. **NICKNAME**  
Change the nickname of a member on verify. For example their Roblox name.  
(*Supports* [**simpukka**](https://monni-docs-f7dj.onrender.com/simpukka/).)

### Other
---
If you would like to have a channel that members would use to verify, you might want to use our Verification Embed.

:::note
This is a well built Embed which you can send to a channel that people can verify through. This can be simpler than using a command for some members.
:::

:::info
**Need help verifying? Check out our easy to follow verification guide here:** (**[Setting up verification](https://monni-docs-f7dj.onrender.com/guides/setting-up-verification)**)
:::
***

